
!.gitkeep

# OS
.DS_Store
Thumbs.db

# Vim
*.swp
*.swo
~$*

ExcelWriter-Testsheet.xlsx
ExcelWriter-Testsheet-multi.xlsx
ExcelWriter-Testsheet-subtlelib.xlsx

### STS ###
.apt_generated
.factorypath
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# Intellij
.idea
*.ipr
*.iws
*.iml
.idea_modules
out/
!**/src/main/**/out/
!**/src/test/**/out/

# eclipse files
.classpath
.project
.wtpmodules
.settings

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# IDE - VSCode
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Maven
target
.flattened-pom.xml
log
pom.xml.versionsBackup

# Gradle
.gradle
dist
build
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Python
venv

# Eslint
.eslintcache

# K8s
.cr-release-packages

# Misc
*.launch
*.sublime-workspace
*.unison.tmp
.c9/
.cache/
.config/
.npm/
.sass-cache
.tmp
app/api
app/images/maps
bazel-out
bower_components
chrome-profiler-events*.json
connect.lock
coverage
e2e-dist
libpeerconnection.log
logs/*
typings
node_modules
npm-debug.log
yarn-error.log
testem.log
out-tsc
speed-measure-plugin*.json
test-output
tmp
ui/dist-assembled
ui/dist-assembled-dev
ui/proxy/user.credentials*
